$mainColor: #838383;
$ActiveMainColor: #bbbbbb;

div{
    user-select: none;
    
    img{
        width: 20px;
        height: 20px;
        
    }

    a {
        color: $mainColor;
        &:hover{
            color:$ActiveMainColor;
        }
    }

}

